* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
        display: none;
        }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: fit-content;
        /* background-color:rgb(248, 137, 161); */
        }
    a {
        background-color: rgb(248, 137, 161);
        width: 70%;
        }

    header {
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(0.6px);
        background-clip: padding-box;
        overflow: hidden;
        z-index: 0;
        }
        header img {
            position: absolute;
            width: 70%;
            height: 70vw;
            }
        header .header_background {
            display: flex;
            width: 100vw;
            }
            .header_background video {
                width: 100vw;
                height: 500px;
                }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        scroll-snap-type: y mandatory;
        z-index: 1;
        backdrop-filter: blur(10px);
        margin-top: -50px;
        background-color:rgba(219, 162, 162, 0.7);
        box-shadow: 0px -5px 100px 0px rgb(178, 92, 92);
    }
    main section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px 15%;
        align-items: center;
        scroll-snap-align: center;
        justify-content: center;
        color: aliceblue;
        }
        #arrow {
            display: flex;
            position: absolute;
            width: 20px;
            top: 10px;
            }

        .frase p {
            color: white;
            font-size: 2.3rem;
            text-align: center;
            }
    
    main .regresiva {
        color: aliceblue;
        background-color:rgba(194, 136, 136, 0.7);
        }
        .regresiva #title {
            font-size: 4.5rem;
            padding-bottom: 30px;
            }
        .regresiva .timeLeft {
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: 3rem;
            padding-bottom: 10px;
            }
            .timeLeft p {
                display: flex;
                width: calc(100% / 4);
                justify-content: center;
                }
        .regresiva .timeTags {
            display: flex;
            width: 100%;
            }
            .timeTags p {
                display: flex;
                width: calc(100% / 4);
                justify-content: center;
                font-size: 1.5rem;
                }
        .regresiva a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding: 20px 0;
            text-decoration: none;
            font-size: 1.8rem;
            border-radius: 8px;
            color: aliceblue;
            cursor: pointer;
            box-shadow: 0px 5px 10px 0px rgb(178, 92, 92);
            /* margin-bottom: 30px; */
            }

    main .evento {
        font-size: 1.6rem;
        }
       .evento p:first-child {
            font-size: 2rem;
            text-align: center;
            }
       .evento p:nth-child(2) {
            font-size: 4.5rem;
            text-align: center;
            }
       .evento iframe {
            margin-top: 30px;
            width: 120%;
            height: 300px;
            border-radius: 12px;
            }
        .evento a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding: 20px 0;
            text-decoration: none;
            font-size: 1.8rem;
            border-radius: 8px;
            color: aliceblue;
            cursor: pointer;
            box-shadow: 0px 5px 10px 0px rgb(178, 92, 92);
            }


    main .regalo {
        background-color:rgba(194, 136, 136, 0.7);
        background-image: url('./assets/images/gifts.png');
        background-size: 100% ;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;

        }
        .regalo p {
            display: flex;
            width: 100%;
            font-size: 1.6rem;
            padding: 15px 0;
            text-align: center;
            justify-content: center;
            z-index: 1;
            }
        .regalo p:first-child {
            font-size: 4.5rem;
            font-weight: 700;
            }
        .regalo .background{
            display: flex;
            position: absolute;
            width: 100%;
            /* bottom: 0; */
            z-index: 0;
            }
            .regalo .background img {
                width: 100%;
                margin-bottom: 42px;
                opacity: 0.2;
                }


    main .dresscode {
        height: 300px;
        overflow: hidden;
    }
    
        .dresscode p:first-child {
        font-size: 2rem;
        }
        .dresscode p:nth-child(2) {
            font-size: 4.5rem;
            }
        .dresscode div {
            display: flex;
            position: absolute;
            justify-content: space-between;
            z-index: -1;
            width: 100%;
            height: 300px;
            overflow: hidden;
            }
        .dresscode div img:first-child {
            /* max-width: 50%; */
            height: 250%;
            /* margin-left: -80px; */
            }

    main .menu {
        background-color:rgba(194, 136, 136, 0.7);
        }
        .menu p {
            font-size: 1.6rem;
            text-align: center;
            }
        .menu a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding: 20px 0;
            text-decoration: none;
            font-size: 1.8rem;
            border-radius: 8px;
            color: aliceblue;
            cursor: pointer;
            box-shadow: 0px 5px 10px 0px rgb(178, 92, 92);
            }
        .menu img {
            margin-top: 40px;
            width: 100%;
        }
            .header_background {
                display: flex;
                position: absolute;
                height: 100vh;
                overflow: hidden;
                z-index: -1;
                align-items: start;
                }
                .header_background video {
                    display: flex;
                    height: 100%;
                    width: auto;
                    margin-top: 0;
                    }